/*temporary styles */

body {
    height: 2000px;
}


/*general styles start*/

a {
    text-decoration: none;
}

figure {
    margin: 0;
    padding: 0;
}

.page-picture {
    width: 100%;
}

.navigation__nav-list, .navigation__nav-link, .main-page-content {
    display: flex;
}

/*general styles end*/

/*header styles start*/

.logo {
    height: 200px;
    background-color: blue;
}

.navigation_fixed {
    position: fixed;
    top: 0;
    z-index: 1;
}

.navigation_style_default {
    width: 100%;
    background: white;
    border-top: 1px solid red;
    box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 10px;
}

.navigation__nav-list {
    justify-content: space-around;
    list-style: none;
    padding: 15px 0;
    margin: 0;
}

.navigation__nav-link {
    align-items: center;
    padding: 0 8px 0 1px;
}

.navigation__nav-link_style_default {
    box-shadow: 0px 0px 0px 4px rgba(244, 101, 66, 1);
    border-radius: 6px;
    font-weight: bold;
    transition: 1s;
}

.navigation__nav-link_style_default:hover {
    fill: red;
    box-shadow: 0px 0px 0px 2px rgba(244, 101, 66, 0.5);
}

.navigation__nav-link_active, .navigation__nav-link_active:hover {
    box-shadow: none;
}

.navigation__open-book-picture, .navigation__nav-link_active .navigation__keyhole-picture {
    display: none;
}

.navigation__nav-link_active .navigation__open-book-picture {
    display: inline;
} 

/*main page content styles start*/

.main-page-content {
    justify-content: space-around;
}

.main-page-content_style_default {
    background-image: url("../img/main-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.news-board {
    width: 75%;
    /*background: yellow;*/
}

/*slider styles start*/

.new-books-slider {
  width: 175px;
  position: relative;
}

.new-books-slider__picteres-slide-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 500px;
}

.new-books-slider__picteres-slide-section_style_default {
  border: 12px solid brown;
}

.new-books-slider__control-button {
    position: absolute;
    top: 125px;
    left: 72px;
}

/*slider styles end*/

/*main page content styles end*/

/*partners panel styles start*/

.partners-panel__slider {
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.partners-panel__item {
    background: green;
    /*width: 100px;*/
    /*height: 100px;*/
}

/*partners panel styles end*/

