@font-face {
    font-family: scriptBase;
    src: url(../fonts/Intro_Script_R_H2_Base.otf);
}

@font-face {
    font-family: Lugatype;
    src: url(../fonts/Tkachev-Lugatype.otf);
}

/*general styles start*/

body {
    font-family: scriptBase, "Comic Sans MS", cursive, sans-serif;
}

.body_style_day {
    background: #b0c7ea;
}

.body_style_night {
    background: #a6a4b3;
}

.page-link {
    text-decoration: none;
}

.picture-wrapper {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.page-picture {
    width: 100%;
}

.navigation__items-list,
.navigation__item,
.main-page-content,
.footer-information,
.coordinates-schedule,
.contact-information {
    display: flex;
}

/*general styles end*/

/*header styles start*/

.header,
.logo {
    position: relative;
}

.header_style_default {
    background-size: cover;
    background-repeat: no-repeat;
}

.header_style_day {
    background-image: url("../img/logo-bg-day.jpg");
}

.header_style_night {
    background-image: url("../img/logo-bg-night.jpg");
}

.header__library-name {
    margin: 0;
    padding-top: 20px;
    font-size: 434%;
    font-weight: normal;
    text-align: center;
    color: rgb(224, 157, 30);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.library-name__text-row {
    display: inline-block;
    width: 100%;
}

.header__logo {
    width: 50%;
    margin: 0 auto;
}

.navigation_style_defult {
    width: 100%;
    box-shadow: 0 1px 20px white, 0 -1px 20px white;
}

.navigation_style_day {
    background: rgba(82, 124, 178, 0.5);
}

.navigation_style_night {
    background: rgba(121, 118, 140, 0.5); 
}

.header__navigation_fixed {
    position: fixed;
    top: 0;
    z-index: 10;
}

.header__navigation_fixed.navigation_style_day {
    background: rgba(123, 149, 189, 1);
}

.header__navigation_fixed.navigation_style_night {
    background: rgba(121, 118, 140, 1); 
}

.navigation__items-list {
    justify-content: space-around;
    list-style: none;
    padding: 16px 0;
    margin: 0;
}

.navigation__item {
    align-items: center;
    padding: 1px 14px 1px 1px;
}

.navigation__item_style_default {
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}

.navigation__item_style_day {
    color: rgb(116, 62, 18);
    box-shadow: 0px 0px 0px 2px rgba(116, 62, 18, 1);
}

.navigation__item_style_night {
    color: #3f260c;
    box-shadow: 0px 0px 0px 2px #3f260c;
}

.navigation__item_inactive:hover,
.navigation__item_active {
    fill: rgb(224, 157, 30);
    stroke: black;
    stroke-width: 3px;
    color: rgb(224, 157, 30);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    box-shadow: 0px 0px 15px 10px rgba(224, 157, 30, 1), 0px 0px 15px 5px rgba(224, 157, 30, 1) inset;
}

.navigation__item_active {
    box-shadow: 0px 0px 0px 2px rgba(224, 157, 30, 1);
}

.navigation__open-book-picture,
.navigation__keyhole-picture {
    display: none;
}

.navigation__item_active .navigation__open-book-picture,
.navigation__item_inactive .navigation__keyhole-picture {
    display: inline;
}

.navigation__link-text {
    font-size: 26px;
}

/*main page content styles start*/

.main-page-content {
    justify-content: space-around;
}

.main-page-content_style_default {
    position: relative;
}

.main-page-content_style_default::after {
    content: "";
    background-image: url("../img/main-bg-modified1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -40px;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

.news-board {
    width: 75%;
}

/*slider styles start*/

.new-books-slider {
  position: relative;
  width: 175px;
   width: 300px;
    height: 800px;
    background-image: url(../img/bookcase.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.new-books-slider__picteres-slide-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
    position: absolute;
    width: 197px;
    height: 278px;
    top: 258px;
    left: 45px;
}

.new-books-slider__control-button_up {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}

.new-books-slider__control-button_down {
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
}

/*slider styles end*/

/*main page content styles end*/

/*partners panel styles start*/

.partners-panel__slider {
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.partners-panel__item {
    background: green;
    /*width: 100px;*/
    /*height: 100px;*/
}

/*partners panel styles end*/

/*footer styles start*/

.footer_style_default {
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Lugatype;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 24px;
}

.footer-information {
    justify-content: space-between;
}

.coordinates-schedule {
    width: 33.33%;
    flex-direction: column;
    align-items: center;
}

.coordinates-schedule_style_default {

}

.contact-information {
    width: 33.33%;
    flex-direction: column;
    align-items: center;
}

#google-map-frame {
    height:300px;
    width:100%;
}

.google-map {
    text-shadow: none;
    width: 33.33%;
    padding: 25px;
}










.taglines {
    display: flex;
    justify-content: space-around;
}

.talines__item.picture-wrapper {
    width: 200px
}

.taglines__image-label_style_dafault {
    font-size: 20px;
    font-family: scriptBase;
    color: brown;
    text-align: center;
    text-shadow: none;
}

/*footer styles end*/