.new-books-slider {
  width: 13%;
}

.new-books-slider__picteres-slide-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /*position: relative;*/
  border: 3px solid black;
  height: 400px;
}

.new-books-slider__sliding-picture-wrapper {
  /*min-height: 100px;*/
  /*position: absolute;*/
}

.new-books-slider__new-book-item {
  width: 100%; 
}

/*.new-books-slider__new-book-item-wrapper1 {
  top: -265px;
  background-color: red;
}
.new-books-slider__new-book-item-wrapper2 {
  top: 0px;
  background-color: blue;
}
.new-books-slider__new-book-item-wrapper3 {
  top: 265px;
  background-color: green;
}
.new-books-slider__new-book-item-wrapper4 {
  top: 530px;
  background-color: brown;
}
.new-books-slider__new-book-item-wrapper5 {
  top: 795px;
  background-color: orange;
}*/