# Main dependencies

Django==1.11.29
djangorestframework==3.11.0
drf-nested-routers==0.91
psycopg2==2.8.5
PyJWT==1.7.1
google-auth-oauthlib==0.4.1
Pillow==9.3.0


# Dev dependencies

coveralls==2.0.0
pylint==2.5.2
pylint-django==2.0.15
