doctype
html(lang='uk')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="бібліотека, юнацтво, львів, книга, читання, проекти, Іваничук, коворкінг, простір")
        meta(name="description" content="Панель адміністратора Львівської обласної бібліотеки для юнацтва ім. Романа Іваничука")
        title Панель адміністратора Львівської обласної бібліотеки для юнацтва ім. Романа Іваничука
    body.body.body_style_day
        div#app
