section.main-content.main-content_style_default.main-content_style_day.flex
    include ../templates/news.pug
    include ../templates/announcement.pug
    include ../templates/projects.pug
    include ../templates/press.pug
    include ../templates/window-on-america.pug
    include ../templates/book.pug
    include ../templates/about-us.pug
    include ../templates/charity-details.pug
    include ./new-books-slider.pug