doctype
html(lang='uk')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="бібліотека, юнацтво, львів, книга, читання, проєкти")
        meta(name="description" content="Офіційний сайт Львівської обласної бібліотеки для юнацтва імені Романа Іваничука. Бібліотека_на_ринку_9")
        title Львівська обласна бібліотека для юнацтва імені Романа Іваничука
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-132398066-1")
        script
            include ../js/google-analytics.js
        script
            include ../js/google-maps.js
        link(rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="images/favicons/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png")
        link(rel="manifest" href="images/favicons/manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="css/main.css")
    body.body.body_style_day
        div.wrapper
            // header start
            include components/header
            // header end
            // main-content start
            include components/main-content
            // main-content end
            // partners panel start
            include components/partners-panel
            // partners panel end
            // footer start
            include components/footer
            // footer end
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_g7EaPFoL4iW2TpXHGIWCpYCXCX-hOD8&callback=initMap")
        script(src="js/main.js")
