main.main-content__item.charity-details
    section
        h2.page-header_style_brown.
            Допомогти бібліотеці
        article
            p.page-paragraph__content-paragraph.
                Бібліотека Іваничука - це публічний культурний і освітній простір, співтворцем якого може стати кожен.
            p.page-paragraph__content-paragraph.
                Ви можете допомогти бібліотеці перерахувавши кошти на наш благодійний рахунок, які будуть використані для: затишку (оновлення меблів), комфорт (закупівлі води\кави\склянок), та підтримки перспективних ідей.
            p.page-paragraph__content-paragraph.
                Допомогти можна не лише коштами - стати волонтером, подарувати нам нові книги чи поділитись вже прочитаними, кава, чай, а головне ваша любов буде найбільшою підтримкою.
            h3.page-header_style_brown Реквізити рахунків:
            ul
                li.page-paragraph__content-paragraph.
                    Рахунок - 31557334119974 (Держказначейська служба України м. Київ)
                li.page-paragraph__content-paragraph.
                    Код банку МФО - 820172
                li.page-paragraph__content-paragraph.
                    ЄДРПОУ - 25227986
