main.main-content__item.main-content__item_active.main-content__item_style_default.news
    button.more-articles-button.more-articles-button__news.more-articles-button_style_default.more-articles-button_style_invisible.more-articles-button_style_day.page-button.rounded(type="button").
        Більше новин