main.main-content__item.main-content__item_active.main-content__item_style_default.news-board
    button.news-board__more-articles-button.news-board__more-articles-button_style_default.news-board__more-articles-button_style_day.page-button.rounded(type="button").
        Більше новин