main.main-content__item.window-on-america
        figure.picture-wrapper.picture-wrapper__content-picture.picture-wrapper__left-floated.window-on-america__picture-wrapper
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.window-on-america__animate-picture_visible.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-1.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-2.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-4.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-5.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-9.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-10.jpg")
        h2.page-header_style_brown Window on America Lviv
        p.page-paragraph.page-paragraph__content-paragraph.
            Інформаційно-ресурсний центр, що створений у 2002 р. на основі партнерства між американським урядом та українськими бібліотеками.
        p.page-paragraph.page-paragraph__content-paragraph.
            Знаходиться у стінах бібліотеки Іваничука та є більше, ніж місце для вивчення англійської чи бібліотека з іноземною літературою. Це простір для твоєї реалізації, спілкування з носіями англійської мови та цікавими людьми звідусіль. Це лекції, майстер-класи, покази фільмів та ресурси для твого розвитку.
        figure.picture-wrapper.picture-wrapper__content-picture.picture-wrapper__right-floated.window-on-america__picture-wrapper
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.window-on-america__animate-picture_visible.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-3.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-6.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-7.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-8.jpg")
        p.page-paragraph.page-paragraph__content-paragraph.
            До цієї мережі входять 29 центрів “Вікно в Америку” у різних областях України, включно із чотирма центрами “Вікно в Америку для майбутніх лідерів” та Американською бібліотекою у Києві.
        p.page-paragraph.page-paragraph__content-paragraph.
            Центр завжди готовий надавати всі необхідні ресурси для вивчення англійської та суспільного життя США, а також інформувати про американські програми допомоги та обміну.
        p.page-paragraph.page-paragraph__content-paragraph.
            Тут регулярно відбуваються зустрічі випускників програм, що фінансуються американським урядом (Flex, Fulbright Program, Open World Program), американських фахівців, членів дипломатичної місії, громадських активістів. Діють англомовні розмовні клуби із волонтерами корпусу миру, виставки, лекції, перегляди фільмів, презентації книг та інші культурні заходи, що сприяють кращому розумінню США.
        p.page-paragraph.page-paragraph__content-paragraph.
            Центр надає безкоштовний доступ для користування - інтернетом, Wi-Fi зоною, доступом до віртуальної наукової бібліотеки «eLibrary USA», колекції англомовної літератури, матеріалами з підготовки до міжнародних тестів з англійської,  електронними книгами, планшетами, програмним забезпеченням із вивчення англійської «Rosetta Stone».
        p.page-paragraph.page-paragraph__content-paragraph.
            Window on America Lviv – обмін ідеями, можливість знайти однодумців та провести вільний час з користю. І це все безкоштовно!
        p.page-paragraph.page-paragraph__content-paragraph.
            Слідкуйте за анонсами центру у соцмережах:
            <a href="https://www.facebook.com/woacenterlviv/" target="_blank" class="page-link window-on-america__link">Facebook</a>
            <a href="https://www.instagram.com/woalviv/" target="_blank" class="page-link window-on-america__link">Instagram</a>