body {
    color: 'red'
}

.taglines-key__picture-label_style_default {
    font-size: 21px;
    font-family: scriptBase;
    text-align: center;
    text-shadow: none;
    position: absolute;
    top: 62%;
    left: 18%;
}