@font-face {
    font-family: scriptBase;
    src: url("../fonts/intro_script_r_h2_base.otf"),
         url("../fonts/intro_script_r_h2_base-webfont.woff2") format('woff2'),
         url("../fonts/intro_script_r_h2_base-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: lugatype;
    src: url("../fonts/tkachev-lugatype.otf"),
         url("../fonts/tkachev-lugatype-webfont.woff2") format('woff2'),
         url("../fonts/tkachev-lugatype-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}