$scriptBaseFontStack: scriptBase, "Comic Sans MS", cursive, sans-serif;
$lugatypeFontStack: lugatype, "Lucida Sans Unicode", "Lucida Grande", sans-serif;

$dayBodyBackground: #b0c7ea;
$nightBodyBackground: #a6a4b3;
$darkBrown: #281501;
$lightBrown: #3f260c;
$creamWhite: #c6c4cf;
$gold: #e09d1e;

$whiteBlurBoxShadowStack: 0 1px 20px #fff, 0 -1px 20px #fff;

$media556pixels: 'screen and (min-width: 556px)';
$media880pixels: 'screen and (min-width: 880px)';
$media1360pixels: 'screen and (min-width: 1360px)';