section.main-content.main-content_style_default.main-content_style_day.flex
    main.main-content__item.main-content__item_active.main-content__item_style_default.news-board
        button.news-board__more-articles-button.news-board__more-articles-button_style_default.news-board__more-articles-button_style_day.page-button.rounded-element(type="button") Більше новин
    main.main-content__item.projects.
        Projects
    main.main-content__item.window-on-america.window-on-america_style_default
        figure.window-on-america__picture-wrapper.picture-wrapper
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.window-on-america__animate-picture_visible.window-on-america__animate-picture_inline.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-1.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-5.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-8.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-4.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-15.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-2.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-6.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-9.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-16.jpg")
        p.window-on-america__paragraph.
            Львівський центр Вікно в Америку слугує інформаційним осередком американської культури в Україні. Один з 29 регіональних відділів, він був заснований у 2002 році за підтримки відділу преси, освіти та культури Посольства США в Україні. Центр було відкрито з метою надання актуальної інформації про США та поповнення фондів бібліотек англомовними виданнями. Проект сприяє взаєморозумінню між народом США та України; саме тут ви можете:
        ul.window-on-america__opportunities-list
            - var opportunities = ['знайти необхідну інформацію про історію, уряд, суспільство та цінності США;', 'дізнатись про можливі програми обміну для учнів та студентів (Flex, Fullbright) та консультації з приводу отримання Green Card;', 'взяти участь в англомовних клуба з носіями мови і не тільки;', 'скористатися ліцензійними програмами вивчення англійської мови, зокрема Rosetta Stone;', 'отримати безкоштовний доступ до мережі Інтернет, користуючись сучасними комп’ютерами, планшетами, iPad-ами та електронними рідерами.'];
            for item in opportunities
                li.window-on-america__opportunities-item=item
        figure.window-on-america__picture-wrapper.window-on-america__picture-wrapper_floated_right.picture-wrapper
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.window-on-america__animate-picture_visible.window-on-america__animate-picture_inline.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-3.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-7.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-11.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-17.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-12.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-18.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-10.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-13.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.main-content-article__picture.main-content-article__picture__style_default.page-picture(src="images/window-on-america-img/woa-img-14.jpg")
        p.window-on-america__paragraph.
            Крім того, львівський центр Вікно в Америку проводить різноманітні заходи, що залучають до спілкування українську та американську сторони. Зокрема, регулярно проводяться зустрічі з волонтером Корпусу Миру Кетрін Фітч, а також залучається активна молодь для обговорень питань медіаграмотності та академічної доброчесності. Центр брав участь у проведенні днів США у Львові, приймав посла США в Україні Джеффрі Пайєта та організовував зустріч з представниками 173 повітряно-десантної бригади Збройних Сил США.
        p.window-on-america__paragraph.
            Центр завжди готовий надавати всі необхідні ресурси для вивчення англійської та суспільного життя США, а також інформувати про американські програми допомоги та обміну.
    main.main-content__item.main-content__item_style_default.bookshelf
    main.main-content__item.about-us.
        ABOUT US
    aside.new-books-slider
        div.new-books-slider__picteres-slide-section.new-books-slider__picteres-slide-section_style_default
            button.new-books-slider__control-button.new-books-slider__control-button_up(data-scroll-direction="up") Up
            button.new-books-slider__control-button.new-books-slider__control-button_down(data-scroll-direction="down") Down
            - var newBooksSliderPicturesSources = ['images/slider-img/black-pen.jpg', 'images/slider-img/book-stolen.jpg', 'images/slider-img/bye-the-elephant.jpg', 'images/slider-img/child.jpg', 'images/slider-img/city.jpg'];
            each item in newBooksSliderPicturesSources
                div.new-books-slider__sliding-picture-wrapper
                        img.page-picture(src=item
                            alt="one of new books picture")