main.main-content__item.projects.main-content__item_style_default
    article.main-content-article.main-content-article_style_default.main-content-article_style_day.rounded
        h3.main-content-article__heading.page-header.
            Листи до Джульєти online
        section.main-content-article__body.clearfix
            figure.main-content-article__picture-wrapper.picture-wrapper
                img.page-picture.page-picture__style_default.rounded(src="images/projects-img/juliets-letters.jpg")
            p.main-content-article__paragraph.main-content-article__paragraph_style_default.
                Традиція залишати цидулки з сокровенними мріями під знаменитим балконом Джульєти у Вероні - відома усім! Бібліотека на Ринку, 9 має свій легендарний балкон, який бачив пристрасті не менші, ніж у п!єсі Шекспіра! Чи зможе втамувати пориви закоханої української душі юна італійка?) Львівський рецепт для закоханих - пишіть про свої почуття нашій рідній Джульєті, актрисі Першого Театру Наталі Мазур, яка неймовірно чуттєво втілила образ веронської дівчини. Щира, світла, оптимістична і відверта Наталя/Джульєта з радістю відповість кожному закоханому сердечку.

    article.main-content-article.main-content-article_style_default.main-content-article_style_day.rounded
        h3.main-content-article__heading.page-header.
            За Живе
        section.main-content-article__body.clearfix
            figure.main-content-article__picture-wrapper.picture-wrapper
                img.page-picture.page-picture__style_default.rounded(src="images/projects-img/za-zhive.jpg")
            p.main-content-article__paragraph.main-content-article__paragraph_style_default.
                Проект, який народився на Донеччині, розвивався на Луганщині, поширився у Тернгопільській, Хмельницькій, Запорізькій, Черкаській областях. І продовжується у Бібліотеці на Ринку. Співорганізатор проекту, директор бібліотеки Тетяна Пилипець з друзями активно запрошують до спілкування "живі" книги - успішних і зреалізованих людей, які можуть самі і мотивують інших. Проект #ЗаЖиве - це ще й можливість заживити власні "рани", завдані суспільними і соціальними ударами. Можливість говорити про те, що болить...

    article.main-content-article.main-content-article_style_default.main-content-article_style_day.rounded
        h3.main-content-article__heading.page-header.
            Книголюди
        section.main-content-article__body.clearfix
            figure.main-content-article__picture-wrapper.picture-wrapper
                img.page-picture.page-picture__style_default.rounded(src="images/projects-img/juliets-letters.jpg")
            p.main-content-article__paragraph.main-content-article__paragraph_style_default.
                Щочетверга о 11.00 книголюди запрошують на професійні коворкинги усіх, хто працює у сервісній сфері. Як працювати з людьми і не зійти з розуму? Відповідь саме на це питання - на наших щотижневих зустрічах.

    article.main-content-article.main-content-article_style_default.main-content-article_style_day.rounded
        h3.main-content-article__heading.page-header.
            Стильна Бібліотека
        section.main-content-article__body.clearfix
            figure.main-content-article__picture-wrapper.picture-wrapper
                img.page-picture.page-picture__style_default.rounded(src="images/projects-img/style-library.jpg")
            p.main-content-article__paragraph.main-content-article__paragraph_style_default.
                Бібліотека на Ринку, 9 впроваджує унікальну практику фотоподій у своїх стінах. Ми не просто надаєм приміщення для фотосесій - ми залучаємо своїх однодумців-фотомайстрів до висвітлення образу "нового" бібліотекаря - відкритого, комунікабельного і... епатажного!
            p.main-content-article__paragraph.main-content-article__paragraph_style_default.
                А, отже, цікавого і неординарного у вмінні промоціювати мистецтво читання.

    article.main-content-article.main-content-article_style_default.main-content-article_style_day.rounded
        h3.main-content-article__heading.page-header.
            Літературно-мистецький балкон
        section.main-content-article__body.clearfix
            figure.main-content-article__picture-wrapper.picture-wrapper
                img.page-picture.page-picture__style_default.rounded(src="images/projects-img/balcony.jpg")
            p.main-content-article__paragraph.main-content-article__paragraph_style_default.
                У середмісті Львова наш літературно-мистецький балкон збирає слухачів і глядачів на інтерактивні перформенси. Вулична поезія і музика, театральні вистави та тематичні інсталяції - чудово "вписуються" у інтер'єр і життя площі Ринок.

    article.main-content-article.main-content-article_style_default.main-content-article_style_day.rounded
        h3.main-content-article__heading.page-header.
            Нотатник бібліографа
        section.main-content-article__body.clearfix
            figure.main-content-article__picture-wrapper.picture-wrapper
                img.page-picture.page-picture__style_default.rounded(src="images/projects-img/notebook.jpg")
            p.main-content-article__paragraph.main-content-article__paragraph_style_default.
                Оскільки буквоїди найбільше цікавляться цікавинками, новинами та подіями книжкового світу, проект «Нотатник бібліографа» тамуватиме спрагу усіх ненаситних читачів. Тут ви зможете знайти інформацію про події та книжкові форуми Львова, дізнатись про корисні й цікаві книги, завести нові знайомства й отримати відповіді на свої питання. Не терпиться познайомитись з проектом? Долучайтеся до його сторінки в соцмережах!