main.main-content__item.window-on-america
        figure.picture-wrapper.picture-wrapper__content-picture.picture-wrapper__left-floated.window-on-america__picture-wrapper
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.window-on-america__animate-picture_visible.window-on-america__animate-picture_inline.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-1.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-5.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-8.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-4.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-15.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-2.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-6.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-9.jpg")
            img.window-on-america__animate-picture.window-on-america__first-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-16.jpg")
        p.page-paragraph.page-paragraph__content-paragraph.
            Львівський центр Вікно в Америку слугує інформаційним осередком американської культури в Україні. Один з 29 регіональних відділів, він був заснований у 2002 році за підтримки відділу преси, освіти та культури Посольства США в Україні. Центр було відкрито з метою надання актуальної інформації про США та поповнення фондів бібліотек англомовними виданнями. Проект сприяє взаєморозумінню між народом США та України; саме тут ви можете:
        ul.window-on-america__opportunities-list
            - var opportunities = ['знайти необхідну інформацію про історію, уряд, суспільство та цінності США;', 'дізнатись про можливі програми обміну для учнів та студентів (Flex, Fullbright) та консультації з приводу отримання Green Card;', 'взяти участь в англомовних клуба з носіями мови і не тільки;', 'скористатися ліцензійними програмами вивчення англійської мови, зокрема Rosetta Stone;', 'отримати безкоштовний доступ до мережі Інтернет, користуючись сучасними комп’ютерами, планшетами, iPad-ами та електронними рідерами.'];
            for item in opportunities
                li.window-on-america__opportunities-item=item
        figure.picture-wrapper.picture-wrapper__content-picture.picture-wrapper__right-floated.window-on-america__picture-wrapper
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.window-on-america__animate-picture_visible.window-on-america__animate-picture_inline.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-3.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-7.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-11.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-17.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-12.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-10.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-13.jpg")
            img.window-on-america__animate-picture.window-on-america__second-animate-picture.page-picture.page-picture__style_default.rounded(src="images/window-on-america-img/woa-img-14.jpg")
        p.page-paragraph.page-paragraph__content-paragraph.
            Крім того, львівський центр Вікно в Америку проводить різноманітні заходи, що залучають до спілкування українську та американську сторони. Зокрема, регулярно проводяться зустрічі з волонтером Корпусу Миру Кетрін Фітч, а також залучається активна молодь для обговорень питань медіаграмотності та академічної доброчесності. Центр брав участь у проведенні днів США у Львові, приймав посла США в Україні Джеффрі Пайєта та організовував зустріч з представниками 173 повітряно-десантної бригади Збройних Сил США.
        p.page-paragraph.page-paragraph__content-paragraph.
            Центр завжди готовий надавати всі необхідні ресурси для вивчення англійської та суспільного життя США, а також інформувати про американські програми допомоги та обміну.