.main-content {
    justify-content: space-between;
    position: relative;

    &::after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../images/main-bg.png");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.6;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &_style_default {
        padding: 25px 0;

        @media #{$media556pixels} {
            padding: 1.5% 0 1.5%  1.5%;
        }
    }

    &__item {
        width: 75%;
        margin: 0 auto;
        line-height: 1.4em;
        display: none;

        @media #{$media880pixels} {
            margin: initial;
        }

        &_active {
            display: block;
        }

        &_style_default {
            text-align: center;
        }
    }
}

.main-content-article {
    padding: 0 20px 10px;
    margin-bottom: 10px;

    @media #{$media556pixels} {
        padding: 0 2% 2%;
        margin-bottom: 2%;
    }

    &_style_default {
        text-align: right;
        border: 1px solid transparent;
    }

    &__picture-wrapper {
        @media #{$media556pixels} {
            float: left;
            max-width: 25%;
            margin-right: 4%;
        }
    }

    &__paragraph {
        text-align: left;
        display: none;
        @media #{$media880pixels} {
            display: block;
        }
    }

    &__paragraph_style_trunkated,
    &__paragraph_style_visible {
        display: block;
    }

    &_style_day {
        @extend .header__navigation_fixed.navigation_style_day;
    }

    &_style_night {
        @extend .header__navigation_fixed.navigation_style_night;
    }
}

.news-board__more-articles-button {
    padding: 1%;
    width: 90%;

    &_style_default {
        font-size: 1.5em;
        color: $gold;
        cursor: pointer;
    }

    &_style_day {
        @extend .header__navigation_fixed.navigation_style_day;
    }

    &_style_night {
        @extend .header__navigation_fixed.navigation_style_night;
    }
}

.truncated-button {
    color: #fff;
}

.window-on-america {

    &__opportunities-list {
        @extend .page-paragraph__content-paragraph;
    }

    &__picture-wrapper {
        height: 50vw;

        @media #{$media880pixels} {
            height: 18vw;
        }
    }

    &__animate-picture {
        opacity: 0;
        display: none;
        max-height: 100%;
    }

    &__animate-picture_visible {
        opacity: 1;
    }

    &__animate-picture_inline {
        display: inline;
    }
}

/*slider styles start*/

.new-books-slider {
    display: none;
    position: relative;
    width: 300px;
    min-width: 300px;
    height: 800px;
    background-image: url("../images/bookcase.png");
    background-size: contain;
    background-repeat: no-repeat;

    @media #{$media880pixels} {
        display: block;
    }
}

.new-books-slider__picteres-slide-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
    position: absolute;
    width: 175px;
    height: 415px;
    top: 258px;
    left: 45px;
}

.new-books-slider__control-button_up {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}

.new-books-slider__control-button_down {
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
}